<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">
    
    <bean id="experimentRunner" class="cz.cvut.felk.cig.jcool.experiment.BasicExperimentRunner" />

    <bean id="configurationContext" class="cz.cvut.felk.cig.jcool.ui.ConfigurationContextFactoryBean" />

    <bean id="propertyExtractor" class="org.ytoh.configurations.util.AnnotationPropertyExtractor">
        <constructor-arg ref="configurationContext" />
        <constructor-arg type="boolean" value="false" />
    </bean>
</beans>