<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd">

    <bean id="model.experimentSetup" class="cz.cvut.felk.cig.jcool.ui.model.ExperimentSetup">
        <property name="context" ref="configurationContext" />
        <property name="visualizationControls" ref="view.visualizationControls" />
    </bean>

    <bean id="model.visualization" class="cz.cvut.felk.cig.jcool.ui.model.Visualization" >
        <property name="context" ref="configurationContext" />
        <property name="experimentSetup" ref="model.experimentSetup" />
    </bean>

    <bean id="model.experimentDetails" class="cz.cvut.felk.cig.jcool.ui.model.ExperimentDetails" >
        <property name="context" ref="configurationContext" />
        <property name="extractor" ref="propertyExtractor" />
        <property name="experimentSetup" ref="model.experimentSetup" />
    </bean>

</beans>